* {
    font-family: 'Work Sans', sans-serif;
}


/* -----------------Header-------------------- */

/* Navigation */
.header {
    background: rgba(255, 144, 14, 0.1);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    align-items: center;
    margin: 0;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
}

.list li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    cursor: pointer;
}

.list li a:hover {
    color: #ee0e0e;
    transition: all 0.2s linear;


}

li {
    list-style: none;
}

.list {
    display: flex;
    gap: 30px;

}

/* Banner */
.banner {
    display: flex;
    gap: 35px;
    flex-direction: column;
    align-items: center;
}

.banner-info {
    padding: 0px 530px;

}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    /* margin top: 32px;*/
    margin-bottom: 20px;
}

.btn-primary:hover {
    transition: all 0.2s linear;
    transform: scale(1.04);
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.06);
}

.banner-image {
    margin-bottom: 45px;
}

/*-------------- End of Header -----------------------*/
/* -------------Main---------------- */
/* Section-1 */
.features {
    display: flex;
    gap: 73px;
    margin: 75px 270px;
    align-items: center;

}

.features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.features-title-2 {
    color: #131313;
}

.features-title-3 {
    color: #FF900E;
}

#features-description {
    text-align: left;
}


/* Section-2 */
.experience {
    margin: 130px 270px 0px 270px;
    display: flex;
    gap: 140px;

}

.love-and-enjoy {
    display: flex;
    flex-direction: column;
}

.love-and-enjoy-tilte {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin: 0px;
    border-left: 4px solid #FF900E;
    padding-left: 20px;
}

.love-and-enjoy-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-top: 24px;
    padding-bottom: 30px;

}

.experience-1 {
    padding: 30px 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}

.experience-1:hover {
    transition: all 0.2s linear;
    transform: scale(1.04);

}

.experience-1-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.experience-1-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.experience-button {
    top: -75px;
    width: 215px;
    height: 150px;
}

.experience-button:hover {
    transition: all 0.2s linear;
    transform: scale(1.04);
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.06);
}

.experience-button h3 {
    padding: 34px;
    font-size: 42px;
    line-height: 30px;
}

.experience-exceptional {
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}

.experience-image .experience-button {
    position: relative;
    right: 20px;
    top: -100px;
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;

}

.experience-image .experience-button h3 {
    text-align: center;
    padding: 45px;
    font-weight: 700;
    font-size: 65px;
    line-height: 45px;
    color: #FFFFFF;
}

.experience-image .experience-button h3 .experience-exceptional {
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}


/* Section-3 */

.facts {
    margin: 0px 270px;
}

.facts-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin: 0;
}

#experience-1-description-id {

    margin-top: 24px;
    margin-bottom: 70px;

}

.different-facts {

    display: flex;
    gap: 100px;
    /* justify-content: space-evenly; */


}


.different-facts-2 {
    display: flex;
    flex-direction: column;
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 10px;
    align-items: center;
    justify-content: center;

}

.different-facts-2:hover {
    transition: all 0.2s linear;
    transform: scale(1.04);
    box-shadow: 12px 30px 30px rgba(0, 0, 0, 0.06);
}

.different-facts-img {
    margin: 0;
}

.different-facts-2-paragraph {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0px;

}

.different-facts-2-paragraph-2 {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    margin: 0;
}

/* margin: 75px 270px; */


/* Sponsors */
.sponsor-section {
    margin: 130px 270px;
}

.sponsors {
    margin: auto;
    text-align: center;
}

.sponsors-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin: 0px;
}

.sponsors-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.sponsored-sites {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.sponsored-sites img {
    filter: grayscale(100%);
}

.sponsored-sites img:hover {
    filter: grayscale(0%);
    transition: all 0.2s linear;
    transform: scale(1.04);
}


/*---------------- End of Main part---------- */

/* -------------footer------------- */

.footer {
    margin: 150px 270px;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    background: #FFF4E7;
    padding: 20px 350px;
}

.footer-text {
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}

/* ------------------End of Footer ---------------*/

/* -----------------------Media Query------------------------ */

@media screen and (max-width: 767px) {

    /* --------------Header part------------*/
    .header-nav {
        flex-direction: column;
        justify-content: space-around;
    }

    .nav-title {
        font-size: 22px;
    }

    .banner {
        display: flex;
        flex-direction: column;

    }

    .banner img {
        width: 80%;
    }

    .banner-title {
        font-size: 45px;
    }

    /*------------------ Main part, Section-1------------------- */

    .features-images {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .features {
        flex-direction: column;
        margin: 0;
        margin-top: 60px;
        padding: 0px 30px;

    }

    /* ------------------Section-2------------------ */

    .experience {
        flex-direction: column;
        margin: 0;
        margin-top: 60px;
        padding: 0px 30px;
    }

    .experience-image img {
        width: 100%;
    }

    /* ------------------Section-3------------------ */
    .facts {
        margin: 0;
        margin-top: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 30px;


    }

    .different-facts {
        flex-direction: column;
        gap: 24px;
        margin: 0;
        padding: 0px;
    }

    /* ------------------Section-4------------------ */
    .sponsor-section {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 40px;
    }

    .sponsors-description {
        text-align: left;
        padding: 0px 30px;
    }

    .sponsored-sites {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* flex-direction: row;
        justify-content: space-around; */
        gap: 24px;
        padding: 0px 30px;
        margin-top: 30px;

    }

    .sponsored-sites img {
        width: 80%;
    }

    /* ------------------Footer------------------ */

    .footer {
        margin: 10px 30px;
        font-weight: 400;
        font-size: 20px;
        color: #424242;
        background: #FFF4E7;
        padding: 0px 30px;
    }

    .footer-text {
        font-size: 08px;
    }

}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:768px) and (max-width: 1023px) {


    /* --------------Header part------------*/
    .header-nav {
        flex-direction: column;
        justify-content: space-around;
    }

    .nav-title {
        font-weight: 700;
        font-size: 45px;
    }

    .banner {
        display: flex;
        flex-direction: column;

    }

    .banner img {
        width: 80%;
    }

    .banner-title {
        font-weight: 700;
        font-size: 64px;
    }

    .banner-info {
        padding: 0px 100px;

    }


    /*------------------ Main part, Section-1------------------- */

    .features-images {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .features {
        flex-direction: column;
        margin: 0;
        margin-top: 60px;
        padding: 0px 30px;

    }

    /* ------------------Section-2------------------ */

    .experience {
        flex-direction: column;
        margin: 0;
        margin-top: 60px;
        padding: 0px 30px;
    }

    .experience-image img {
        width: 100%;
    }

    /* ------------------Section-3------------------ */
    .facts {
        margin: 0;
        margin-top: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 30px;


    }

    .different-facts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: 0;
        padding: 0px;
        margin-bottom: 80px;
    }

    /* ------------------Section-4------------------ */
    .sponsor-section {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 40px;
    }

    .sponsors-description {
        text-align: left;
        padding: 0px 30px;
    }

    .sponsored-sites {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* flex-direction: row;
        justify-content: space-around; */
        gap: 24px;
        padding: 0px 30px;
        margin-top: 30px 0 60px 0;

    }

    /* .sponsored-sites img{
        width: 20%;
    } */
    /* ------------------Footer------------------ */

    .footer {
        margin: 150px 30px 50px 30px;
        font-weight: 400;
        font-size: 20px;
        color: #424242;
        background: #FFF4E7;
        padding: 0px 30px;
    }

}